@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600&family=Seaweed+Script&display=swap");

:root {
  --bg-main-color: #ffb356;
  --bg-second-color: #00cccc;
  --base-color: #f1f1f1;

  --container-padding: 20px;

  --island-list-initial-width: 210px;
  --fnb-list-initial-width: 9em;
  --dropdown-list-initial-height: 2em;

  --dropdown-list-width: 18em;
  --dropdown-list-height: 0em;

  --transition-04s: 0.4s;
  --transition-08s: 0.8s;
  --transition-1s: 1s;
  --transition-1-2s: 1.2s;
  --transition-1-5s: 1.5s;
  --transition-1-8s: 1.8s;

  --popup-animation: cubic-bezier(0.2, -0.55, 0.27, 1.55);

  --beach-environment-img-1-width: 100px;
  --beach-environment-img-2-width: 108px;
  --beach-environment-img-3-width: 339px;
  --beach-environment-img-4-width: 287px;
  --beach-environment-img-5-width: 96px;
  --beach-environment-img-6-width: 223px;
  --beach-environment-img-7-width: 351px;
  --beach-environment-img-8-width: 181px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  background: var(--bg-main-color);
  width: 100%;
  max-height: 100vh;
}

@keyframes header-nav-animation {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes header-nav-animation {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateX(0);
  }
}

header a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Karla", sans-serif;
  color: var(--base-color);
  padding-block-start: 30px;
  display: flex;
  width: 100%;
  height: 10vh;
}

.container {
  padding: var(--container-padding);
}

.inbeach-header {
  padding-inline-start: 2em;
}

#nav-desktop a > span::after,
#nav-desktop a > span::before {
  transition: var(--transition-04s);

  content: "";
  position: relative;
  right: 10px;
  display: inline-block;
  background-color: var(--base-color);
  border-radius: 100px;
  width: 25px;
  height: 5px;
}

#nav-desktop a > span::after {
  transform: rotate(-45deg);
}

#nav-desktop a > span::before {
  transform: rotate(45deg);
  bottom: 14px;
  right: -15px;
}


#nav-desktop > a:nth-child(1)::before {
  display: inline-block;
}

#nav-desktop a[href="#islands"]::before,
#nav-desktop a[href="#fnb"]::before {
  content: "";
  position: relative;
  background-color: var(--base-color);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  right: -20px;
  bottom: 1px;
  display: inline-block;
}

#nav-desktop a[href="#fnb"]::after,
#nav-desktop a[href="#islands"]::after {
  width: 110%;
}

#nav-desktop > a::after,
#nav-desktop .sub-nav > a::after{
  content: "";
  position: relative;
  display: block;
  background-color: var(--base-color);
  border-radius: 10px;
  height: 100px;
  top: -140px;
  transform: translateY(-100px);
  transition: var(--transition-1s);
}

#nav-desktop > a:hover::after,
#nav-desktop .sub-nav > a:hover::after {
  cursor: pointer;
  transform: translateY(0);
  transition: var(--transition-04s);
}

#nav-desktop > a,
#nav-desktop .sub-nav > a {
  text-decoration: none;
  padding-inline: 2em;
  float: right;
}

#nav-desktop {
  color: var(--base-color);
  padding-inline-end: 2em;
  font-weight: 600;
  font-size: 1.5em;
  flex-grow: 1;
  -webkit-animation: header-nav-animation var(--transition-1s)
    var(--popup-animation) normal;
  animation: header-nav-animation var(--transition-1s) var(--popup-animation)
    normal;
}

.desktop-island-dropdown {
  --desktop-island-dropdown-left-pos: 56vw;
  z-index: 99;
  display: none;
  position: absolute;
  top: 4em;
  left: var(--desktop-island-dropdown-left-pos);
  color: var(--bg-main-color);
  background-color: var(--base-color);
  border-radius: 10px;
  transition: var(--transition-1s);
  -webkit-animation: dropdown-animation var(--transition-04s) ease-in-out normal;
  animation: dropdown-animation var(--transition-04s) ease-in-out normal;
}

.desktop-fnb-dropdown {
  z-index: 99;
  display: none;
  position: absolute;
  top: 4em;
  right: 1.5em;
  color: var(--bg-main-color);
  background-color: var(--base-color);
  border-radius: 10px;
  transition: var(--transition-1s);
  -webkit-animation: dropdown-animation var(--transition-04s) ease-in-out normal;
  animation: dropdown-animation var(--transition-04s) ease-in-out normal;
}

.desktop-island-dropdown a,
.desktop-fnb-dropdown a {
  font-family: "Karla", sans-serif;
}

.dropdown-islands li,
.dropdown-islands a,
.dropdown-fnb li,
.dropdown-fnb a {
  cursor: pointer;
  padding: 0.2em;
  list-style-position: inside;
}

.sumatera-island,
.java-island,
.bali-island,
.nusa-tenggara-island,
.restaurant-location,
.cafe-location {
  display: none;
}

.sumatera,
.java,
.bali,
.nusatenggara {
  width: var(--island-list-initial-width);
  height: var(--dropdown-list-initial-height);
  transition: all var(--transition-08s);
}

.restaurant,
.cafe {
  width: var(--fnb-list-initial-width);
  height: var(--dropdown-list-initial-height);
  transition: all var(--transition-08s);
}

@keyframes dropdown-keyframe-animation {
  from {
    opacity: 0;
    height: var(--dropdown-list-initial-height);
    width: var(--fnb-list-initial-width);
  }

  to {
    height: var(--dropdown-list-height);
    width: var(--dropdown-list-width);
  }
}

@-webkit-keyframes dropdown-keyframe-animation {
  from {
    opacity: 0;
    height: var(--dropdown-list-initial-height);
    width: var(--fnb-list-initial-width);
  }

  to {
    height: var(--dropdown-list-height);
    width: var(--dropdown-list-width);
  }
}

.dropdown-list-size {
  height: var(--dropdown-list-height);
  width: var(--dropdown-list-width);
  -webkit-animation: dropdown-keyframe-animation var(--transition-08s)
    ease-in-out normal;
  animation: dropdown-keyframe-animation var(--transition-08s) ease-in-out
    normal;
}

.dropdown-animation-list {
  display: flex;
  -webkit-animation: dropdown-keyframe-animation var(--transition-08s)
    ease-in-out normal;
  animation: dropdown-keyframe-animation var(--transition-08s) ease-in-out
    normal;
}

@keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes close-dropdown-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@-webkit-keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes close-dropdown-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.close-dropdown {
  -webkit-animation: close-dropdown-animation var(--transition-08s) ease-in-out
    normal;
  animation: close-dropdown-animation var(--transition-08s) ease-in-out normal;
}

/* Nav mobile */
.hamburger-menu {
  cursor: pointer;
  position: absolute;
  right: 4em;
}

.hamburger-menu:hover > span {
  background-color: var(--bg-second-color);
}
.hamburger-menu > span {
  display: none;
  content: "";
  width: 3em;
  height: 5px;
  margin-top: 0.5em;
  background-color: var(--base-color);
  border-radius: 100px;
  transition: all var(--transition-1s);
}
#nav-mobile {
  display: none;
  color: var(--bg-main-color);
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40vw;
  background-color: var(--base-color);
}

#nav-mobile.active {
  display: block;
  overflow: auto;
}

#nav-mobile .close-btn:hover span {
  background-color: var(--bg-second-color);
}
#nav-mobile .close-btn {
  display: block;
  cursor: pointer;
  position: inherit;
  padding: 1.5em 2.5em 1.5em 0.5em;
  top: 3em;
  right: 6em;
}

#nav-mobile .close-btn span {
  display: block;
  position: inherit;
  content: "";
  width: 2em;
  height: 5.5px;
  border-radius: 100px;
  transition: all var(--transition-08s);
  background-color: var(--bg-main-color);
}

#nav-mobile .close-btn span:nth-child(1) {
  transform: rotate(-45deg);
}

#nav-mobile .close-btn span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-mobile > ul {
  list-style: none;
  margin-top: 6em;
}

#nav-mobile ul > li {
  height: auto;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 20px;
}

#nav-mobile ul li a {
  font-size: 2em;
  transition: all var(--transition-1s);
}
#nav-mobile ul li a:hover {
  color: var(--bg-second-color);
}
#nav-mobile .dropdown-list > ul > li > div {
  font-size: 300;
}
#nav-mobile .dropdown-list > ul > li > a {
  font-weight: 600;
  font-size: 1.8em;
}
#nav-mobile .dropdown-list li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#nav-mobile div.sub-nav > a{
  padding: 10px;
  border-bottom: 2px solid var(--bg-main-color);
}
#nav-mobile ul.sub-island *, 
#nav-mobile ul.sub-fnb *{
  transition: none;
  animation: none;
}
#nav-mobile ul.sub-nav li div ul {
  font-size: 0.65em;
}
#nav-mobile ul.sub-nav li ul {
  border-right: 2px solid var(--bg-main-color);
  /* border-left: 2px solid var(--bg-main-color); */
}
#nav-mobile ul.sub-nav {
  display: none;
  transition: all var(--transition-04s);
}
#nav-mobile ul.sub-nav.active{
  display: block;
  margin-top: 1em;
  padding-top: 1em;
  border-bottom: 2px solid var(--bg-main-color);
}
main {
  width: 100%;
  height: 100%;
  /* padding: 20px; */
}

.landing-page {
  display: flex;
  flex-direction: column;
}

@keyframes landing-text {
  from {
    transform: translateX(-2em);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes landing-text {
  from {
    transform: translateX(-2em);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.landing-page h1 {
  font-family: "Seaweed Script", cursive;
  font-size: clamp(calc(2em + 40%), calc(3vw - 20%), 4em);
  text-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  color: var(--base-color);
  padding-top: 1em;
  padding-left: 2em;
  -webkit-animation: landing-text var(--transition-1s) ease-in-out normal;
  animation: landing-text var(--transition-1s) ease-in-out normal;
}

.beach-environment {
  height: 50vh;
}

.beach-environment img {
  width: auto;
  height: auto;
  position: relative;
}

@keyframes beach-environment-animation {
  from {
    transform: scale(0);
    filter: blur(8px);
  }

  to {
    transform: scale(1);
  }
}

@-webkit-keyframes beach-environment-animation {
  from {
    transform: scale(0);
    filter: blur(8px);
  }

  to {
    transform: scale(1);
  }
}

/* Beach ball */
.beach-environment img:nth-child(1) {
  width: var(--beach-environment-img-1-width);

  bottom: 100px;
  left: 100px;
  -webkit-animation: beach-environment-animation var(--transition-08s)
    var(--popup-animation) normal;
  animation: beach-environment-animation var(--transition-08s)
    var(--popup-animation) normal;
}

/* Patrick */
.beach-environment img:nth-child(2) {
  width: var(--beach-environment-img-2-width);
  top: 110px;
  left: 100px;
  -webkit-animation: beach-environment-animation var(--transition-1s)
    var(--popup-animation) normal;
  animation: beach-environment-animation var(--transition-1s)
    var(--popup-animation) normal;
}

/* Umbrella Beach */
.beach-environment img:nth-child(3) {
  width: var(--beach-environment-img-3-width);

  bottom: 0;
  top: 100px;
  left: 100px;
  -webkit-animation: beach-environment-animation var(--transition-1-2s)
    var(--popup-animation) normal;
  animation: beach-environment-animation var(--transition-1-2s)
    var(--popup-animation) normal;
}

/* Towel */
.beach-environment img:nth-child(4) {
  width: var(--beach-environment-img-4-width);

  z-index: -1;
  top: 100px;
  left: -60px;
  -webkit-animation: beach-environment-animation var(--transition-1-5s)
    var(--popup-animation) normal;
  animation: beach-environment-animation var(--transition-1-5s)
    var(--popup-animation) normal;
}

/* Shell */
.beach-environment img:nth-child(5) {
  width: var(--beach-environment-img-5-width);

  top: 150px;
  left: 100px;
  -webkit-animation: beach-environment-animation var(--transition-1s)
    var(--popup-animation) normal;
  animation: beach-environment-animation var(--transition-1s)
    var(--popup-animation) normal;
}

/* Surfboard */
.beach-environment img:nth-child(6) {
  width: var(--beach-environment-img-6-width);

  z-index: 1;
  position: absolute;
  right: 140px;
  -webkit-animation: beach-environment-animation var(--transition-08s)
    var(--popup-animation) normal;
  animation: beach-environment-animation var(--transition-08s)
    var(--popup-animation) normal;
}

/* Beach towel 2 */
.beach-environment img:nth-child(7) {
  width: var(--beach-environment-img-7-width);

  position: absolute;
  right: -60px;
  -webkit-animation: beach-environment-animation var(--transition-08s)
    var(--popup-animation) normal;
  animation: beach-environment-animation var(--transition-08s)
    var(--popup-animation) normal;
}

/* Rubber ring */
.beach-environment img:nth-child(8) {
  width: var(--beach-environment-img-8-width);

  position: absolute;
  z-index: 9;
  transform: rotate(-90deg);
  bottom: 200px;
  right: 0;
  -webkit-animation: beach-environment-animation var(--transition-1s)
    var(--popup-animation) normal;
  animation: beach-environment-animation var(--transition-1s)
    var(--popup-animation) normal;
}

.sea-waves {
  padding: 0;
  width: 100%;
  height: 40vh;
}

.sea-waves img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

@keyframes sea-waves-animation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sea-waves-animation-residual {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sea-waves-animation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes sea-waves-animation-residual {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sea-waves img:nth-child(1) {
  z-index: -1;
  bottom: 100px;
  -webkit-animation: sea-waves-animation-residual 2s var(--popup-animation)
    normal;
  animation: sea-waves-animation-residual 2s var(--popup-animation) normal;
}

.sea-waves img:nth-child(2) {
  z-index: 1;
  bottom: 50px;
  -webkit-animation: sea-waves-animation 1.4s var(--popup-animation) normal;
  animation: sea-waves-animation 1.4s var(--popup-animation) normal;
}

.sea-waves img:nth-child(4) {
  z-index: 2;
  bottom: 10px;
  -webkit-animation: sea-waves-animation 1.2s var(--popup-animation) normal;
  animation: sea-waves-animation 1.2s var(--popup-animation) normal;
}

.sea-waves img:nth-child(3) {
  z-index: 3;
  bottom: -20px;
  -webkit-animation: sea-waves-animation var(--transition-1s)
    var(--popup-animation) normal;
  animation: sea-waves-animation var(--transition-1s) var(--popup-animation)
    normal;
}

.sea-waves img:nth-child(5) {
  z-index: 4;
  bottom: -60px;
  -webkit-animation: sea-waves-animation 0.8s var(--popup-animation) normal;
  animation: sea-waves-animation 0.8s var(--popup-animation) normal;
}

/* .sea-waves img:nth-child(1) {
    display: none;
  z-index: 5;
  bottom: -50px;
} */
